
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Verdana, Helvetica, Tahoma, sans-serif;
  }

@import "./variables";
@import "../../app/app";